{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "plugins": ["@prettier/plugin-pug"],
  "pugWrapAttributesThreshold": 0,
  "pugAttributeSeparator": "as-needed",
  "pugFramework": "vue",
  "pugClassNotation": "as-is",
  "pugIdNotation": "as-is",
  "pugPreserveAttributeBrackets": true,
  "pugSingleQuote": false
}
